<header class="intro-header" style="background-image: url({{bgimg}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{{title}}</h1>
                        <hr class="small">
                        <span class="subheading">{{promo}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>I started this project for a few reasons, but mainly to keep busy coding and learn a little bit more about web development. This blog uses Angular.js to create a single-page application. If you know anything about blogs or angular, feel free to contact me with questions or suggestions. I have no real interest in CSS or graphic design, so yes, this is a free template.</p>
                <p>The second reason I started it was because after seeing the 2014 Godzilla film, I told a few people how it was not a good movie, but it was a pretty decent Godzilla movie. If you judge all the films of the franchise against each other, you'll find that there's certain themes, formats, and eccentricities that you might be more open to than a standalone film.</p>
                <p>After re-watching "Godzilla Raids Again" on special effects master Eiji Tsubaraya's birthday in 2015, I realized how my perception of the film had changed since watching it in 1998. I thought it wasn't one of the better films, probably because I was a teenaged idiot, but it actually has a lot of fond moments. The blog is a way to catalogue what I enjoyed and disliked about each films after now having seen each one and having a better appreciation for filmmaking. When it is complete, you and I will have a resource to turn to when we want to throw on the perfect G-flick for any occasion!</p>
            </div>
        </div>
    </div>

    <hr>