
    <header class="intro-header" style="background-image: url({{detail.header}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{detail.title}}</h1>
                        <h2 class="subheading">{{detail.promo}}</h2>
                        <span class="meta">{{ detail.postDate | date : 'longDate' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-include src="detail.reviewContent">
                    
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1>Leave A Comment</h1>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 fb-comments" data-href="http://www.godzillavs.net/#/reviews/{{detail.id}}" data-width="100%" data-numposts="5"></div>
        </div>
    </article>

 

    